<!-- Student Name : Aswani Pottathuparambil Unnikrishnan
Student ID : 8858117 -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
     <!--FavIcon image created using : 
        Free Logo Maker - Create a Logo in Seconds - Shopify. (n.d.). Www.shopify.com. https://www.shopify.com/tools/logo-maker/my-logos
    ‌ -->
    <link rel="shortcut icon" href="/images/favicon.png" type="image/png">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <header>
            <div class="logo">
                <!--Logo image created using : 
                    Free Logo Maker - Create a Logo in Seconds - Shopify. (n.d.). Www.shopify.com. https://www.shopify.com/tools/logo-maker/my-logos
                ‌ -->
                <a href="./index.html"><img src="/images/logo.png" alt="Logo"></a>
            </div>
            <div class="tagline">
                <h1>CMSExpress</h1>
            </div>
            <div class="username-header">

                <% if (typeof username !== 'undefined' && username) { %>
                
                    <p>Welcome <%= username %>! </p>
                <% } %>
            </div>

            </header>